<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title th:text="|${@branding.restaurantName} Administration Portal|">Restaurant | Administration Portal</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron text-container">
			<h1 align="center" th:text="|Welcome ${username} to ${@branding.restaurantName} Employee Portal|">Welcome to Restaurant Administration Portal</h1>
			<div align="center"><p>What do you want to do?</p></div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3> MENU ADMIN </h3>
					<a href="/menuItems/">
	                		<img src="../static/images/menu.png" th:src="@{images/menu.png}" />
						<p>View and edit the menu</p>
					</a>
				</div>
				<div class="col-md-4">	
					<h3> PROCESS ORDERS </h3>
					<a href="/orders/">
	                		<img src="../static/images/orders.png" th:src="@{images/orders.png}" />
						<p>View and close orders</p>
					</a>
				</div>
				<div class="col-sm-4">
					<h3> ACCESS TOKEN </h3>
			        <a href="/dump_token">
	                		<img src="../static/images/access.png" th:src="@{images/access.png}" />
						<p>View your access token</p>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
